target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Default ignored files
/shelf/
### ./workspace.xml ### ~Upload local librares to git souce control

### IntelliJ IDEA ###
.idea/modules.xml
jarRepositories.xml
.idea/compiler.xml
###.idea/libraries/ ### ~Upload local librares to git souce control
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store